<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434041288140-e2trb3lu7plbrmk2o84me3ocp2rkf6k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434041288140-e2trb3lu7plbrmk2o84me3ocp2rkf6k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDZNwEmqi4UShUZKpesu7a7ODDQDo926G4</string>
	<key>GCM_SENDER_ID</key>
	<string>434041288140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hosonuma.sakki.sotsugyo</string>
	<key>PROJECT_ID</key>
	<string>sotsugyo-597fa</string>
	<key>STORAGE_BUCKET</key>
	<string>sotsugyo-597fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434041288140:ios:a2af274ca12c9ec2f7d969</string>
</dict>
</plist>